/*
.phrase:hover {
    color: dodgerblue;
    background-color: rgba(0, 0, 0, 0.1);
}
*/

.phrase:focus {
    color: white;
    background-color: black;
}

.phrase {
    animation-duration: 0.5s, 0.5s;
    animation-name: opacity, translation;
    align-items: center;
    border-radius: 99em;
    background-color: rgb(242, 242, 242);
    color: rgb(117, 117, 117);
    cursor: pointer;
    display: flex;
    font-family: 'Kosugi Maru', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    margin: 5px 5px 5px 5px;
    height: 42px;
    text-align: center;
    padding: 3px 12px 3px 12px;
}

@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes translation {
    from {
        transform: translate(0%, 50%);
    }
    to {
        transform: translate(0%, 0%);
    }
}
